body{
    padding-right: 100px;
    padding-left: 100px;
    
}
.container{
  width: 90%;
  max-width: 1000px;
  margin: auto;
}
nav {
  background-color: rgb(24, 24, 123); /* fond de la nav */
  padding: 8px;
  justify-content :center;
  display: flex;
  align-items: center;
  gap: 30px; 
}

nav a {
  color: white; /* texte + SVG en blanc */
  text-decoration: none;
  align-items: center;
  display: flex;  
}
img{
    padding : 0px;
    margin-top: 10px;
}
#nombre{
padding-left: 50px;
font-size: large;
}
.hablad{
    font-size: large;
}
h2{
    font-weight: bold;
}


footer{
    text-align: center;
    padding: 10px;
    background-color: rgb(208, 206, 206);
    justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border: 1px darkblue solid;
}
thead{
    
  background-color: rgb(25, 0, 255);
  color: aliceblue;
}


.no-border {
    border: none !important;
}



    h4{
        text-align: center;
        color: #1a237e;
    }

    th {
        background-color: #4f7cac;
        color: white;
        padding: 10px;
        border: 1px solid #2c4f75;
    }

    td {
        padding: 10px;
        border: 1px dotted #2c4f75;
    }
    .espace{
        padding-left: 20px;
    }
    #web{
        color: #1a237e;
        font-size: large;

    }